
@model Employee
@{
    ViewData["Title"] = "Edit Employee";
}


<h1>EDIT PAGE</h1>



<form asp-controller="Employee" asp-action="Edit" method="POST">
 <input type="hidden" asp-for="Id">
  <div class="form-group">
    <label asp-for="FirstName">First Name</label>
    <span asp-validation-for="FirstName"></span>
    <input type="text" class="form-control" asp-for="FirstName"  placeholder="Enter Your First Name">
  </div>
  <div class="form-group">
    <label asp-for="LastName"></label>
     <span asp-validation-for="LastName"></span>
    <input type="text" class="form-control" asp-for="LastName" placeholder="Enter Your Last Name">
  </div>
  <div class="form-group">
    <label asp-for="Address"></label>
    <textarea type="text" class="form-control" asp-for="Address"  placeholder="Enter Your Address"></textarea>
  </div>
   <div class="form-group">
    <label asp-for="Age"></label>
    <input type="number" class="form-control" asp-for="Age"  placeholder="Enter your Age">
  </div>
    <button type="submit" class="btn btn-primary">Update Employee</button>
</form>